<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>demo</servlet-name>
    <servlet-class>com.dinoproblems.server.MainServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>records</servlet-name>
    <servlet-class>com.dinoproblems.server.ShowRecordsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>records</servlet-name>
    <url-pattern>/records</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AuthServer</web-resource-name>
      <url-pattern>/Server</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

</web-app>

